.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(to right, #0f172a, #1e3a8a); /* Subtle gray bg to make white card pop */
}

.formCard {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  border: 1px solid #e2e8f0;
}

.label {
  display: block;
  color: #1e293b; /* Dark Navy for high contrast */
  font-weight: 600;
  margin: 15px 0 5px 0;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  color: #1e293b; /* Visible typing text */
  font-size: 1rem;
  background: #a2c5ff;
}

.btn {
  background-color: #061e52;;
  color: white;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover { background-color: #061e52; }

.login-link {
  margin-top: 15px;
  text-align: center;
  color: #061e52;
}

.login-link a {
  color: #0070f3;
  text-decoration: none;
}